.DS_Store
*.missing
*.sw*
.sass-cache
node_modules
bower_components
rethinkdb_data
npm-debug.log
.idea
dist
report.html
tmp/
!tmp/.gitkeep
.vscode
coverage/coverage-summary.json
locale_key_compare
coverage
.env
codealike.json
yalc.lock
.yalc
**/.terraform/*
*.zip
