@project-atl:registry=https://npm.pkg.github.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=F328FE88-B87B-4F70-8C97-EDE6D9478DAC

legacy-peer-deps=true
engine-strict=false
save-exact=true

//npm.pkg.github.com/:_authToken=${NPM_PGK_GITHUB_TOKEN}
