.DS_Store
*.code-workspace
build
artifacts
google-service-account.json
*.missing
*.sw*
.sass-cache
/ui/dist
node_modules
bower_components
rethinkdb_data
npm-debug.log
.idea
services/trivia/node_modules
default.etcd
__pycache__
dump.rdb
coverage
.env

gcApp/www/**
!gcApp/www/.gitkeep
gcApp/platforms/**
gcApp/plugins/**

ip-blacklist.csv

tmp/
!tmp/.gitkeep
.vscode

codealike.json

.terraform
.terraform*
*.tfstate*
