$largeBreakpoint: 1199px;
$mediumBreakpoint: 769px;
$phoneBreakpoint: 500px;
$smallBreakpoint: 350px;
$containerBorderRadius: 4px;
$controlsMediumBreakpoint: 551px;

$darkGrey: #5a5a5a;
$lighterGrey: #e4e4e4;
$gold1: #ddb43f;
$secondaryContrastText: #3d3d3d;
