.Animation {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 0px 5px 0px #31284a;
  overflow: hidden;
  background: #1a1c31;
  border-radius: 0 5px 5px 0;
}
