@import '~src/styles/definitions';

.ColorsBetControls {
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-shrink: 0;

  padding: 10px;
}

.betAmount {
  margin-bottom: 5px;
}

.buttonContainer {
  display: flex;
}

.label {
  color: #e1e1e1;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;
}

.placeBet {
  transition: all 0.3s ease;
  width: 100%;
  padding: 10px;
  max-width: 100%;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  background: #353854;
  color: $lighterGrey;
  border-radius: 4px;
  border: none;
  outline: none;

  transition: 'all 150ms ease';
  cursor: pointer;
  user-select: none;

  font-weight: 300;

  img {
    height: 35px;
    width: 35px;
    margin-right: 10px;
  }

  &:hover {
    background: lighten(#353854, 5%);
  }

  &:disabled {
    opacity: 0.5;
    cursor: disabled;
    background: darken(#353854, 5%);
  }

  &:last-of-type {
    margin-right: 0;
  }

  &:first-of-type {
    margin-left: 0;
  }
}

.colorsBets {
  display: flex;
  flex-direction: column;

  flex: 1;
  width: 100%;
  box-sizing: border-box;
  border-radius: 3px;
  margin-top: 10px;
  max-height: 250px;
}