html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  border: 0;
  outline: 0;
  background: transparent;
}
body {
  line-height: 1;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
nav ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
a {
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}
ins {
  text-decoration: none;
  color: #000;
  background-color: #ff9;
}
mark {
  font-weight: 700;
  font-style: italic;
  color: #000;
  background-color: #ff9;
}
del {
  text-decoration: line-through;
}
abbr[title],
dfn[title] {
  cursor: help;
  border-bottom: 1px dotted;
}
table {
  border-spacing: 0;
  border-collapse: collapse;
}
hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}
input,
select {
  vertical-align: middle;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  appearance: none;
}
@font-face {
  font-family: nicokaku_v2;
  src: url(../fonts/nicokaku_v2.ttf) format("truetype");
}
body {
  font-family: Noto Sans JP, sans-serif, Helvetica Neue, Arial,
    Hiragino Kaku Gothic ProN, Hiragino Sans, Meiryo, sans-serif;
  overflow-x: hidden;
  background-color: #2c2c54;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
}
ul {
  list-style-type: none;
}
.main {
  min-width: 320px;
  padding-bottom: 80px;
}
.section {
  max-width: 1080px;
  margin-top: 40px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .section {
    margin-top: 60px;
  }
}
.section-title {
  font-family: nicokaku_v2, sans-serif;
  font-size: 26px;
  font-weight: 500;
  line-height: 29px;
  margin-bottom: 28px;
  color: #ddb43f;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 30px;
    line-height: 35px;
  }
}
.game-category-title {
  font-family: nicokaku_v2, sans-serif;
  font-size: 24px;
  color: #ddb43f;
  padding-bottom: 16px;
  border-bottom: 1px solid #fff;
}
@media screen and (min-width: 768px) {
  .game-category-title {
    font-size: 26px;
  }
}
.hero {
  /* margin-top: 20px; */
}
@media screen and (min-width: 960px) {
  .hero {
    margin-top: 0;
  }
}
.catch-copy-area {
  background-image: url(../images/hero/heroPC.png);
  background-size: cover;
  aspect-ratio: 1.5/1;
  max-height: 400px;
  width: 100%;
}
@media screen and (min-width: 960px) {
  .catch-copy-area {
    position: relative;
    width: 100%;
    min-height: 400px;
    background-image: url(../images/hero/heroPC.png);
    background-position: top left;
    background-size: cover;
    aspect-ratio: 4.137/1;
    background-repeat: no-repeat;
  }
}


@media screen and (min-width: 1200px) {
  .catch-copy-area {
    min-height: 530px;
  }
}
.catch-copy-area-inner {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1080px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 960px) {
  .catch-copy-area-inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 214px;
    margin: auto;
  }
}
.main-copy {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 32px;
  font-weight: 100;
  line-height: 29px;
  position: absolute;
  top: 15px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
  padding-left: 20px;
  padding-right: 20px;
}
@media screen and (min-width: 960px) {
  .main-copy {
    font-size: 35px;
    font-weight: 100;
    line-height: 38px;
    position: static;
    text-align: right;
    padding-left: 0;
    padding-right: 0;
  }
}
.sub-copy {
  font-size: 16px;
  font-weight: 700;
  line-height: 23px;
  position: absolute;
  bottom: 1px;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.8);
}
@media screen and (min-width: 960px) {
  .sub-copy {
    position: static;
    width: 244px;
    height: 47px;
    margin: 28px 0 0 auto;
    text-align: right;
  }
}
.sub-copy span {
  font-size: 14px;
  display: block;
}
.hero-signup-button {
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  position: absolute;
  bottom: -58px;
  display: grid;
  width: 100%;
  max-width: 335px;
  height: 51px;
  margin-top: 7px;
  margin-right: auto;
  margin-left: auto;
  transition: 0.25s ease-in-out;
  color: #2c2c54;
  border-radius: 4px;
  background: #dfb33b;
  place-items: center;
}
@media screen and (min-width: 960px) {
  .hero-signup-button {
    font-weight: 700;
    position: static;
    max-width: 245px;
    margin: 12px 0 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .hero-signup-button:hover {
    background-color: #ebcb6f;
  }
}
.hero-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 85px;
  padding-right: 20px;
  padding-left: 20px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 960px) {
  .hero-description {
    margin-top: 40px;
  }
}
.feature-section .section-title {
  text-align: center;
}
.feature-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 174px);
  gap: 40px;
}
@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
    justify-content: space-between;
  }
}
.feature-item {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .feature-item {
    width: 240px;
  }
}
.feature-item img {
  width: 120px;
}
.feature-description {
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
  text-align: center;
  color: #fff;
}
.game-list {
  display: grid;
  margin-top: 28px;
  grid-template-columns: 1fr;
  column-gap: 9.5px;
  row-gap: 20px;
}
@media screen and (min-width: 480px) {
  .game-list {
    margin-top: 20px;
    column-gap: 20px;
    row-gap: 32px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 786px) {
  .game-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
.first-game-list {
  margin-bottom: 40px;
}
.game-image-link {
  display: block;
  box-shadow: 0 4px 6px #0000004d;
  aspect-ratio: 1/1;
  border-radius: 4px;
}
@media screen and (min-width: 768px) {
  .game-image-link {
    overflow: hidden;
    height: auto;
  }
}
.game-image-link img {
  width: 100%;
  border-radius: 4px;
  object-fit: cover;
  object-position: center;
  height: 100%;
  display: block;
}
@media screen and (min-width: 768px) {
  .game-image-link img {
    height: 100%;
  
  }
}
.game-text-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 23px;
  display: block;
  margin-top: 10.5px;
  color: #fff;
}
.game-tag {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  display: block;
  margin-top: 5px;
  color: #d9d9d9;
}
.ambassadors-section {
  padding-top: 40px;
  width: 100%;
  max-width: 100%;
  background-image: url(../images/aboutRoowards/ourAmbassadors.png);
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 768px) {
  .ambassadors-section {
    padding-top: 60px;
  }
}
.ambassadors-section-inner {
  max-width: 1080px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
.ambassadors-description {
  line-height: 1.5;
  color: #fff;
}
.snoop-dogg-section {
  color: #fff;
}
.snoop-dogg-section .section-title {
  text-align: center;
}
.about-roowards-section {
  color: #fff;
  position: relative;
}
@media screen and (min-width: 768px) {
  .about-roowards-space-top {
    margin-top: 70px;
  }
}
.about-roowards-images {
  position: absolute;
  right: 0;
  top: 70px;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .about-roowards-images {
    right: 0;
    top: -40px;
    width: 400px;
  }
}
.about-roowards-images-wrapper {
  position: relative;
  width: 100%;
  height: 160px;
}
@media screen and (min-width: 768px) {
  .about-roowards-images-wrapper {
    height: 250px;
  }
}
.about-roowards-images-wrapper img.about-roowards-images-sub {
  position: absolute;
  bottom: 40px;
  width: 180px;
  right: 110px;
}
@media screen and (min-width: 768px) {
  .about-roowards-images-wrapper img.about-roowards-images-sub {
    width: 200px;
    left: 0;
    top: 20px;
  }
}
.about-roowards-images-wrapper img.about-roowards-images-main {
  position: absolute;
  right: 0;
  bottom: 20px;
  width: 125px;
  z-index: 3;
}
@media screen and (min-width: 768px) {
  .about-roowards-images-wrapper img.about-roowards-images-main {
    width: 250px;
  }
}
.snoop-dogg-sub-title {
  font-family: nicokaku_v2, sans-serif;
  font-size: 24px;
  margin-top: 24px;
  margin-bottom: 16px;
  color: #ddb43f;
}
@media screen and (min-width: 768px) {
  .snoop-dogg-sub-title {
    font-size: 26px;
  }
}
.snoop-dogg-description {
  line-height: 1.5;
  margin-bottom: 32px;
}
.about-roowards {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
@media screen and (min-width: 768px) {
  .about-roowards {
    width: 100%;
    max-width: 1040px;
    flex-direction: row;
    column-gap: 20px;
  }
}
.about-roowards-description {
  line-height: 1.5;
  margin-bottom: 80px;
}
@media screen and (min-width: 768px) {
  .about-roowards-description {
    margin-bottom: 40px;
  }
}
.about-roowards-description-br {
  display: block;
}
@media screen and (min-width: 768px) {
  .about-roowards-description-br {
    display: none;
  }
}
.about-roowards-box {
  text-align: center;
  background-color: #dfb33b;
  padding: 40px 35px;
  border-radius: 20px;
  color: #2c2c54;
}
@media screen and (min-width: 768px) {
  .about-roowards-box {
    width: 33.333%;
  }
}
.about-roowards-box-title-point {
  font-weight: 700;
  font-size: 24px;
}
.about-roowards-box-title {
  font-family: nicokaku_v2, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .about-roowards-box-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
  }
}
.about-roowards-box-text {
  margin-top: 16px;
  line-height: 1.5;
  text-align: left;
}
.step-section {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .step-section {
    padding-top: 36px;
    padding-bottom: 36px;
    background-image: url(../images/step/bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}
.step-section .section-title,
.step-section-inner {
  max-width: 1040px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .step-section-inner {
    padding: 24px;
    background-color: #1e1b53a6;
    backdrop-filter: blur(2px);
  }
}
.payment {
  max-width: 1056px;
  margin-top: 33px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .payment {
    margin-top: 43px;
  }
}
.payment-inner {
  display: block;
  width: 100%;
  padding: 20px 33px 25px;
  border-radius: 4px;
  background-image: url(../images/payment/bgSP.png);
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .payment-inner {
    position: relative;
    height: fit-content;
    padding: 16px 28px 0;
    background-image: url(../images/payment/bgPC.png);
    background-size: cover;
    box-shadow: 2px 4px 12px #00000040;
  }
}
.payment-title {
  font-family:  Noto Sans JP, sans-serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .payment-title {
    font-size: 30px;
    line-height: 35px;
    text-align: left;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: fit-content;
  }
}
.payment-roo {
  display: none;
}
@media screen and (min-width: 768px) {
  .payment-roo {
    display: flex;
  }
}
.payment-roo img {
  width: 190px;
  object-fit: contain;
  object-position: bottom;
  margin-bottom: -40px;
}
@media screen and (min-width: 768px) {
  .payment-content {
    display: flex;
    justify-content: flex-end;
    gap: 70px;
    margin-right: 5.7%;
    padding: 40px 0;
  }
}
@media screen and (min-width: 768px) {
  .buy-button-wrapper {
    display: grid;
    align-items: center;
    gap: 30px;
    margin-top: -28px;
    padding-bottom: 30px;
  }
}
.payment-method {
  display: grid;
  justify-content: center;
  grid-row-gap: 20px;
  max-width: 287px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .payment-method {
    grid-template-columns: 1fr 1fr;
    align-items: end;
    max-width: 348px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
}
.payment-method img {
  width: 120px;
}
@media screen and (min-width: 768px) {
  .payment-method img {
    width: 150px;
  }
}
@media screen and (max-width: 374px) {
  .payment-method img {
    width: 46px;
  }
}
.buy-button {
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  display: grid;
  width: 269px;
  height: 51px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  transition: 0.25s ease-in-out;
  color: #2c2c54;
  border-radius: 4px;
  background: #dfb33b;
  place-items: center;
}
@media screen and (min-width: 768px) {
  .buy-button {
    width: 100%;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
  }
}
@media screen and (max-width: 374px) {
  .buy-button {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .buy-button:hover {
    background-color: #ebcb6f;
  }
}
.game-provider-section {
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .game-provider-section {
    max-width: 1080px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 20px;
    padding-left: 20px;
  }
}
.game-provider-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}
@media screen and (min-width: 768px) {
  .game-provider-header {
    margin-bottom: 7px;
    padding-right: 0;
    padding-left: 0;
  }
}
.game-provider-header-title {
  margin-bottom: 0;
}
.slider-controller {
  display: flex;
  gap: 28px;
}
@media screen and (min-width: 768px) {
  .slider-controller {
    gap: 12px;
  }
}
.slider-controller button {
  transition: 0.25s ease-in-out;
}
@media screen and (min-width: 768px) {
  .slider-controller button {
    width: 52px;
    height: 52px;
    border-radius: 36px;
  }
}
@media screen and (min-width: 768px) {
  .slider-controller button:hover {
    background-color: #00000040;
  }
}
.slider-controller button[disabled] {
  cursor: default;
  opacity: 0.6;
}
.slider-controller button[disabled]:hover {
  background-color: transparent;
}
.game-provider-body {
  padding-right: 7px;
  padding-left: 7px;
  background-color: #1a1732;
}
@media screen and (min-width: 768px) {
  .game-provider-body {
    padding-right: 16px;
    padding-left: 16px;
  }
}
.game-provider-slider-wrapper {
  position: relative;
  overflow-x: hidden;
  height: 201px;
}
@media screen and (min-width: 768px) {
  .game-provider-slider-wrapper {
    height: 242px;
  }
}
.game-provider-slider {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 201px;
  transition: left 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .game-provider-slider {
    height: 242px;
  }
}
.game-provider-link {
  display: block;
  flex-shrink: 0;
  width: 50%;
  padding-right: 18px;
  padding-left: 18px;
  transition: 0.25s ease-in-out;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 768px) {
  .game-provider-link {
    width: 25%;
    padding-right: 24px;
    padding-left: 24px;
  }
}
@media screen and (min-width: 768px) {
  .game-provider-link:hover {
    background-color: #00000040;
  }
}
.game-provider-link.is-disabled {
  text-align: left;
  line-height: 1.5;
}
@media screen and (min-width: 768px) {
  .game-provider-link.is-disabled:hover {
    background-color: #1a1732;
  }
}
