@import '~src/styles/definitions';

.ColorsRoute {
  box-sizing: border-box;
  flex-shrink: 0;
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .container {
    animation: fadeIn 0.5s;
  }
  .homeLink {
    max-width: 1000px;
    margin: 0 auto;
  }
  .gameContainer {
    display: flex;
    flex: 1;
    box-sizing: border-box;
    flex-shrink: 0;
  }

  .leftSection {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 325px;
    border-radius: 5px;
    z-index: 2;
    position: relative;
    background-color: #111325;
  }

  .rightSection {
    display: flex;
    flex-direction: column;
    flex: 1;
    position: relative;

    overflow: hidden;
    border-radius: 0 5px 5px 0;
    min-height: 400px;
    justify-content: flex-end;
    .animation {
      padding-bottom: 15px;
    }
  }
  .countdownContainer {
    margin-bottom: 7px;
    padding: 0 10px;
    .seconds {
      margin: auto;
      z-index: 2;
      position: relative;
      font-weight: 300;
      font-size: 24px;
      text-transform: uppercase;
      color: $gold1;
      margin-bottom: 7px;
      font-weight: 400;
      .topText {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 7px;
      }
    }
    .countdown {
      .progress {
        position: relative;
        justify-content: center;
        align-items: center;
        background: #1a1c31;
        color: darken($gold1, 30%);
        font-variant-numeric: tabular-nums;
        border-radius: 5px;
        max-width: 200px;
        height: 25px;
        span.fill {
          position: absolute;
          top: 0;
          right: 0;
          left: 0;
          bottom: 0;
          background: $gold1;
          border-radius: 5px;
        }
      }
    }
  }

  .mobileSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    .Anim {
      margin-bottom: 10px;
    }
    .countdownContainer {
      padding: 0;
      .seconds {
        .topText {
          display: inline-block;
        }
      }
    }
    .bg {
      position: relative;
      background-color: #150f25;
    }
  }

  .info {
    align-items: center;
    margin-top: 10px;
    display: flex;
    .maxProfit {
      opacity: 0.5;
      font-size: 12px;
      color: $lighterGrey;
    }
    .previousHash {
      font-size: 12px;
      color: $lighterGrey;
      margin: 10px;
      margin-bottom: 0;
      margin-left: 0;
      word-break: break-word;
      line-height: 14px;
    }
    .buttons {
      margin-left: auto;
      button {
        margin-top: 10px;
        margin-right: 10px;
        padding: 5px;
        color: #d3d3d4;
        padding: 8px;
        text-transform: none;
        font-weight: 500;
        background: #554b79;
        svg {
          margin-right: 7px;
        }
        &.justIcon {
          svg {
            margin-right: 0;
          }
        }
        &:hover {
          background: lighten(#554b79, 5%);
        }
        &:first-of-type {
          margin-left: 0;
        }
      }
    }
  }
}

:global {
  .roulette-container {
    width: 1000px;
  }
  .group18 {
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
    top: 50%;
    height: 63px;
    width: 2558px;
    position: absolute;
    margin: 0;
    left: 562px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .group18 .group17 {
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
    top: 0%;
    height: 74.6%;
    width: 48.98%;
    position: absolute;
    margin: 0;
    left: 0%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .group18 .group17 .stroke3 {
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
    top: 0%;
    height: 87.23%;
    width: 50.36%;
    position: absolute;
    margin: 0;
    left: 0%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .group18 .group17 .stroke3.copy {
    top: initial;
    right: 0%;
    bottom: 0%;
    left: initial;
    width: 49.8%;
    margin: 0;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .group18 .group17.copy {
    top: initial;
    right: 0%;
    bottom: 0%;
    width: 51.09%;
    position: absolute;
    margin: 0;
    left: initial;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .group18 .group17.copy .stroke31 {
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
    top: 0%;
    height: 87.23%;
    width: 48.28%;
    position: absolute;
    margin: 0;
    left: 0%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .group18 .group17.copy .stroke31.copy {
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
    right: 0%;
    bottom: 0%;
    height: 87.23%;
    width: 51.87%;
    position: absolute;
    margin: 0;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .rectangle21 {
    pointer-events: none;
    background-color: #f6f5ef;
    top: 0;
    height: 119px;
    width: 50%;
    position: absolute;
    margin: 0;
    left: 0px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  .roo-container {
    margin-bottom: 24px;
    position: relative;
    overflow: hidden;
  }

  .roo-container .roo {
    max-height: 120px;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    display: block;
  }

  .tiles-wrapper {
    position: relative;
    width: 100%;
    height: 160px;
    @media (max-width: 920px) {
      height: 100px;
    }
  }

  .tiles-wrapper .ticker {
    pointer-events: none;
    background-color: rgba(237, 237, 237, 0.25098);
    top: 0;
    height: 100%;
    width: 5px;
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
  }

  .tiles-wrapper .ticker .line {
    pointer-events: none;
    top: 1px;
    width: 6px;
    height: 100%;
    position: absolute;
    margin: 0;
    left: 43%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: #e6e6dc;
    box-shadow: 0px 0px 5px 3px rgba(255, 255, 255, 0.34901960784313724);
    background: #656565;
    display: none;
  }

  .tiles-wrapper .ticker .gamearrow {
    pointer-events: none;
    background-color: rgba(255, 255, 255, 0);
    top: 0%;
    height: 30.49%;
    width: 97.78%;
    position: absolute;
    margin: 0;
    left: 1.11%;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    z-index: 3;
  }

  .tiles-container {
    position: absolute;
    white-space: nowrap;
    height: 160px;
    @media (max-width: 920px) {
      margin-bottom: 10px;
      height: 100px;
    }
  }

  .tiles-container .game-tile {
    display: inline-block;
    height: 100%;
    width: 125px;
    span {
      font-size: 40px;
      font-weight: 700;
      padding: 5px;
      color: #e8e8e8;
      display: block;
      text-align: right;
      display: none;
      @media (max-width: 920px) {
        font-size: 30px;
      }
    }
    @media (max-width: 920px) {
      width: 90px;
    }
  }

  .tiles-container .game-tile.red {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(/images/colors-red.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
    }
  }

  .tiles-container .game-tile.green {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(/images/colors-gold.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
    }
  }

  .tiles-container .game-tile.black {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: url(/images/colors-black.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 90%;
    }
  }

  .tiles-container.spin {
    will-change: transform;
    transition-timing-function: cubic-bezier(0.12, 0.8, 0.38, 1);
    transition-duration: 10s;
  }

  .keyframe1-to-keyframe2 .group18 {
    transition: all 3.5s linear 0s;
    left: -77px;
  }

  .keyframe2-to-keyframe3 .group18 {
    transition: all 5.1s linear 0s;
    left: -667px;
  }

  .keyframe3-to-keyframe4 .group18 {
    transition: all 0.001s linear 0s;
    left: -1307px;
  }

  .keyframe4-to-keyframe5 .group18 {
    transition: all 0.001s linear 0s;
    opacity: 0.99;
  }

  .keyframe5 .group18 {
    left: -1307px;
  }

  .lineflow {
    animation-duration: 10s;
    animation-name: lineflow;
    will-change: transform;
  }
}
@keyframes :global(lineflow) {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(-1307px, 0, 0);
  }
}
