global:
  apm:
    enabled: true
  ingress:
    enabled: true
  metrics:
    enabled: true
  resources:
    limits:
      memory: 1Gi
    requests:
      cpu: 500m
      memory: 1Gi

app:
  name: api
  type: deployment

  ip2location: true
  replicas: 20
  service: true
  paths:
    - /
