.ColorsHistory {
  display: flex;
  overflow: hidden;
  flex-shrink: 0;
  margin-top: 15px;
  &.isMobile {
    margin: 15px 0;
  }
  .tick {
    flex-shrink: 0;
    font-weight: 700;
    color: #fff;
    margin: 0 5px;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
    &:active {
      transform: scale(0.95);
    }
  }
}
